.applicationHeader {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1em;
  background: transparent;
  transition: 200ms ease all;
  position: sticky;
  top: 0;
  z-index: 999;
  
  &.sticky {
      background: rgba(0, 0, 0, 0.9);
    // background: rgb(59, 0, 59);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3);
  }

  nav {
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;

    h2 {
      margin: 0;
    }
  }

  .applicationNav {
    height: 60%;
    width: clamp(500px, 40%, 600px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: lighter;


    menu {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
    }

    a {
      border: none;
      position: relative;
      font-size: 0.9em;
      padding: 5px;

      &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        left: 50%;
        bottom: 0;
        background-color: white;
        transition: all ease-in-out 0.2s;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }
}