.showcaseContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 25px;


    .showcaseScroller {
        width: 100%;
        position: relative;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        display: inline-block;
        scrollbar-width: none;
        scroll-behavior: smooth;
        padding: 25px;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    .sliderNav {
        height: 1vh;
        position: absolute;
        bottom: 60px;
        right: 4vw;
        z-index: 5;

        .sliderNavDots {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            display: inline-block;

            cursor: pointer;

            &.currentlyPlaying {
                background: white;
            }
        }
    }
}