.container {
    min-height: 150px;
    border-radius: 10px;
    transition: 300ms ease all;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 300ms ease-out all;
    outline-offset: 3px;
    outline: 3px solid transparent;
    box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.3);
    
    .poster {
        position: absolute;
        visibility: visible;
        transition: 300ms 500ms ease all;
        z-index: 5;
        opacity: 1;
    }

    &:hover {
        transform: scale(1.05);
        outline: 3px solid white;
    }
}

@keyframes revealPreview {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}