@use "../utils/styles.scss" as styles;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 60px);

  .hero {
    width: 100%;
    height: 100%;
    background: url(../assets/hero_bkg.png) 50% / cover no-repeat fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.25);
      top: 0;
    }

    .cta {
      height: 40vh;
      display: block;
      z-index: 5;
      color: white;
      text-align: center;
      padding: 1.5em;
      margin: auto 0;

      h2 {
        font-size: 2.4em;
        font-weight: bolder;
        margin-bottom: 3em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
      }

      p {
        font-size: 1.25em;
        font-weight: bolder;
        margin-bottom: 1.5em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.loadingContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

/* Mobile */
@media (max-width: 700px) {}