.accountNav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  cursor: pointer;
  position: relative;

  .profilePic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 20px;
  }

  &:hover>.dropdown {
    animation: dropdownMenu ease 1.5s forwards;

    ul {
      padding: 0 10px;
    }
  }

  .dropdown {
    width: 100%;
    max-height: 0;
    min-width: 200px;
    position: absolute;
    top: 60px;
    border-radius: 5px;
    z-index: 5;
    overflow: hidden;

    .navDropdown {
      width: 100%;
      background: rgba(0, 0, 0, 1);
    }

    li {
      min-height: 3.5em;
      display: flex;
      align-items: center;
      list-style-type: none;
      padding-left: 15px;

      &.signOutButtonContainer {
        padding-left: 0;
      }

      .signOutButton {
        width: 100%;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .manageProfiles {
      max-height: 3.5em;
      overflow: hidden;
      width: 100%;
      display: block;
      list-style-type: none;

      span {
        height: 3.5em;
        width: 100%;
        display: flex;
        align-items: center;
      }

      .profilesDropdown {
        width: 100%;
        border-radius: 5px;
        padding: 0;
        display: block;

        li {
          a {
            height: 100%;
            width: 100%;
            margin-left: 10px;
            text-align: center;
            text-decoration: none !important;
          }
        }
      }

      &:hover {
        animation: dropdownProfiles ease-in 0.7s 0.3s forwards;
      }
    }
  }
}

@keyframes dropdownMenu {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100vh;
  }
}

@keyframes dropdownProfiles {
  0% {
    max-height: 3.5em;
  }

  100% {
    max-height: 24em;
  }
}