.accountDetailsCard {
    padding: 5%;
    box-shadow: 1px 1px 5px 5px rgba(19, 19, 19, 0.2);
    background: white;
    color: grey;
    border-radius: 3px;
    height: 100%;

    .accountDetailsLabel {
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 1px solid grey;
        padding: 1em 0;
    }



    .profiles {
        list-style: none;
        padding-top: 1.5em;

        .profileItem {
            display: flex;
            align-items: center;
            margin-bottom: 1.5em;

            span {
                margin-left: 1em;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .accountDetailsCard .accountDetailsLabel {
            font-size: 1em;
            padding: 0.5em 0;
        }
}

/* Mobile */
@media (max-width: 700px) {
    .accountDetailsCard .accountDetailsLabel {
        font-size: 1em;
        padding: 0.5em 0;
    }
}