$primary-gradient: linear-gradient(90deg, #3EC7E0 0%, #526BF4 110%);
$primary-gradient-hovered: linear-gradient(90deg, #3EC7E0 0.05%, #526BF4 275%);
$secondary-gradient: linear-gradient(90deg, #E052A0 0%, #F15C41 110%);
$secondary-gradient-hovered: linear-gradient(90deg, #E052A0 0.05%, #F15C41 275%);