  .accessNav {
    margin-left: auto;

    a {
      width: 100%;
      background: rgb(173, 162, 56); // Secondary
      background: rgb(97, 154, 50); // Third
      font-size: 0.9em;
      padding: 8px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid transparent;

      &:hover {
        background: rgb(130, 120, 20); // Secondary tinted
        background: rgb(62, 116, 18); // Third tinted
      }
    }
  }