.signUpPage {
  min-height: calc(100vh - 60px);
  width: 100%;
  background: url(../../../assets/signupImg.png) 20% / cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1em;
  top: 0;
  bottom: 0;
}

.steps {
  position: relative;
  min-width: 500px;
  text-align: center;
  font-weight: lighter;
  margin-top: auto;
}

.formContainer {
  max-width: 500px;
  position: relative;
  margin: 0.5em auto auto;

  form {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    box-shadow: 0 0 3px #dfdfdf;
  }
}